<!DOCTYPE html>
<html>
  <head>
    <title> Ask Page </title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/yes-or-no.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>   
    <script type="text/javascript" src="/js/ask.js" ></script>

  </head>
  <body>
    <div class="container">
      <h1> Ask a Yes or No Question </h1>
      <hr>
      <!-- Ask Question Input and Submit Button -->
      <div class="row" >
        <div class="col-sm-10" >
          <input type="text" class="form-control ask-input" placeholder="Enter search term">
        </div>
        <div class="col-sm-2" >
          <button class="btn btn-primary ask-btn" > Ask </button>
        </div>
      </div>
      <br>
      <!-- Response Region -->
      <div>
        <h1 class="display-1 response-text" ></h1>
      </div>
    </div>
    
  </body>
</html>